.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 800px) {
  .home-option {
    margin: 5%;
    padding: 1%;
  }
}

@media screen and (min-width: 801px) {
  .home-option {
    width: 20%;
    padding: 1%;
    margin-left: 1.7%;
    margin-right: 1%;
    margin-top: 2%;
  }

  .home-options {
    display: flex;
  }
}

.home-option {
  box-shadow: 1px 1px 0px #AAA;
  float: left;
  color: white;
  background-color: black;
}

.home-option:hover {
  box-shadow: 3px 2px 0px #AAA;
}

.home-option:active {
  box-shadow: inset 0px 2px 3px #AAA;
}

#active-context {
  border-top: 3px solid black;
  margin-top: 2%;
}

button {
  color: white;
  background-color: black;
  border: none;
  margin: 1px;
  box-shadow: 1px 1px 0px #AAA;
}

button:hover {
  box-shadow: 3px 2px 0px #AAA;
}

button:focus {
  outline: 0;
}

button:active {
  box-shadow: inset 0px 2px 3px #AAA;
}

.oscillator {
  padding: 2%;
  margin: 2%;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: 14px;
}

.oscillator-setting {
  padding: 1%;
  float: left;
}

.oscillator-setting-element {
  margin-left: 1%;
}

.presets-panel {
  float: left;
  width: 15%;
  height: calc(100vh);
  background: black;
  margin-top: -1%;
}